name: Update EKS Cluster

on:
  workflow_dispatch:   # allows manual trigger
  push:
    branches:
      - main           # run when changes are pushed to main

jobs:
  update-eks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Make script executable
        run: chmod +x ./update-eks.sh

      - name: Run EKS update script
        env:
          CLUSTER_NAME: ${{ secrets.EKS_CLUSTER_NAME }}
          REGION: ${{ secrets.AWS_REGION }}
          NEW_VERSION: ${{ secrets.EKS_NEW_VERSION }}
        run: ./update-eks.sh
